@model PrimalGenerator
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>Widok akcji @ViewContext.RouteData.Values["action"] z kontrolera @ViewContext.RouteData.Values["controller"] </h3>

<form method="post">
    <div class="row m-2">
        <label class="col-3 text-end" for="limit" asp-for="Limit"></label>
        <input asp-for="Limit" type="number" class="col-3"/>
        <span class="col-6 error" asp-validation-for="Limit"></span>
    </div>
    <div class="row m-2">
        <input type="submit" class="btn btn-primary offset-3 col-3" value="Generuj"/>
    </div>
</form>

@if (ViewBag.primals != null) {
    foreach (var primal in ViewBag.primals) {
        <span>@primal </span>
    }
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}