<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Akcja Index2</h1>
    @{
        string name = "ala ma kota";
    }
    <div>@name</div>
    <div>
        <a asp-action="Index">Powrót do Hello world</a><br />
        <a asp-controller="Second" asp-action="Index">Do drugiego kontrolera</a>
    </div>
</body>
</html>