@using WebPortal_v1.Models
@model WebPortal_v1.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal społecznościowy</title>
    <link rel="stylesheet" href="~/css/portal.css">
</head>

<body>
<div class="wrapper1">
    <div class="sm1">
        <h1>Nasze osiedle</h1>
    </div>
    <div class="sm2">
        Liczba użytkowników portalu: @ViewBag?.all  
    </div>
</div>
<div class="wrapper2">
    <div class="left">
        <h3>Logowanie</h3>
        <form method="post">
            login:<br>
            <input asp-for="Login" placeholder="login"><br>
            hasło:<br>
            <input asp-for="Password" type="password" placeholder="haslo"><br>
            <input type="submit" value="Zaloguj" name="btn">
        </form>
    </div>
    <div class="right">
        <h3>Wizytówka</h3>
        @if (ViewBag?.model) {
            <div>@ViewBag.result</div>
            

            if (ViewBag?.isOKPswd && ViewBag?.dane!=null) {
                
                    string srcPhoto = $"/media/{(ViewBag.dane as Dane).Zdjecie}";
                    int a = 12;
                    <img src='@srcPhoto' alt='osoba'>
               <h4>@Model.Login (@ViewBag.year)</h4>
                    <p>hobby: @ViewBag?.dane?.Hobby</p>
                    <h1><img src='~/media/icon-on.png'> (@ViewBag?.dane?.Przyjaciol)</h1>
            }
            else {
                    <div> Hasło jest  błędne </div>
            }


        }
        else {
            <div>Brak danych</div>
        }
         
            
    </div>
</div>
<div class="footer">
    Stronę wykonał: 0000000000
</div>
</body>

</html>

