@page
@model MyApp.Namespace.WebSite1Model
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Website1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/index.css" rel="stylesheet">
    </head>
    <body>
      <h1>Inna strona</h1>
    </body>
</html>
