@page
@model cw8_WebRazor.Pages.UpdateModel
@{
}
<h3>Edycja kontaktu</h3>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row m-2">
        <label asp-for="ContactToUpdate.Name" class="col-3 text-end"></label>
        <input asp-for="ContactToUpdate.Name" class="col-9" />
    </div>
    <div class="row m-2">
        <label asp-for="ContactToUpdate.Email" class="col-3 text-end"></label>
        <input asp-for="ContactToUpdate.Email" class="col-9" />
    </div>
    <div class="row m-2">
        <label asp-for="ContactToUpdate.Phone" class="col-3 text-end"></label>
        <input asp-for="ContactToUpdate.Phone" class="col-9" />
    </div>
    <div class="row">
        <input type="submit" value="Zapisz" class="btn btn-primary offset-3 col-9" />
    </div>
</form>
