.table{
    border-collapse: collapse;
    border: solid 1px black;
    width: 1200px;
}
th,td{
    border: solid 1px black;
    padding: 8px;
}
tr:nth-child(even){
    background-color: rgb(247, 244, 235);
}
th{
    background-color: darksalmon;    
}