* {
    font-family: Tahoma;
    margin: 0 auto;
}

.wrapper1 {
    display: flex;
}

.wrapper2 {
    display: flex;
}


#card>a>button {
    background-color: #003d33;
    color: white;
    width: 100%;
    height: 30px;
    border-style: none;
}

#card>a>button:hover {
    background-color: #004c40;
}

.footer {
    clear: both;
    background-color: #003d33;
    color: white;
}

.sm1,
.sm2 {
    color: white;
    text-align: center;
    height: 50px;
    background-color: #003d33;

}

.sm1 {
    width: 70%;
}
.right {
    background-color: #26a69a;
    height: 550px;
    width: 70%;
}





.sm1>h1 {
    padding: 0 auto;
    margin: 0 auto;
}

.sm2 {
    width: 30%;
}

.left {
    background-color: #26a69a;
    height: 550px;
    width: 30%;
}
.btn{
    display: inline-block;
    width: 100%;
    color: white;
    background-color: #003d33;
    height: 30px;
}
.btn:hover{
    background-color: #004c40;
}
.wizytowka{
    width: 400px;
    margin: 30px;
    text-align: center;
    border: solid 1px #003d33;
}


