.container{
    margin: 20px;
}
.line{
    margin: 10px;
}
label{
    display: inline-block;
    width: 160px;
    text-align: right;
    padding-right: 5px;
}
input[type=button]{
    margin-left: 170px;
}
input{
    width: 160px;
}
#info{
    border: solid gray 1px;
    border-radius: 10px;
    height: 200px;
    background-color: bisque;
    width: 50%;
    padding: 10px;
}
.content{
    display: flex;
}
.error{
    border: solid 2px red;
    border-radius: 2px;
    background-color: lightpink;
}
.ok{
    border: solid 1px grey;
    border-radius: 2px;
    background-color: white;
}