@model OgloszeniaMVCMysql.ViewModels.IndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"/>
    <title>Ogłoszenia drobne</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<header class="baner">
    <h2>
            Ogłoszenia drobne
    </h2>
</header>
<main class="container">
    <div class="glowny">
        <section>
            <h2>
                    Ogłoszeniodawcy
            </h2>
        </section>
        <section>
            <h2>
                Nasze kategorie
            </h2>
            <ul>
                @foreach (var kategory in Model.Kategories) {
                    
                }
            </ul>
        </section>
    </div>
    <footer></footer>
</main>
</body>
</html>
