@model List<User>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Lista użytkowników</h1>
<table class="table table-stripped">
    <tr>
        <th>Lp</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Data utworzenia</th>
    </tr>
    @foreach (var row in Model) {

    }
</table>
