@model List<User>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Lista użytkowników</h1>
<table class="table table-stripped">
    <tr>
        <th>Lp</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Data utworzenia</th>
    </tr>
    @{ int i = 0;}
    @foreach (var row in Model) {
        i++;
        <tr>
            <td>@i</td>
            <td>@row.Firstname</td>
            <td>@row.Lastname</td>
            <td>@row.CreateDate?.ToShortDateString()</td>
        </tr>
    }
</table>
