.container{
    display: flex;
    flex-direction: row;
    padding: 10;
    border: solid 1px grey;
}
.info{
    
    font-weight: bold;
    color: green;
    
    width: 350px;
}
.info ol{
    list-style: none;
}
.workers{
    display: flex;
    justify-items: end;
}
.workers ol li:hover{
    color:grey
}