.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#square{
    width: 200px;
    height: 200px;
    border: solid 1px black;
    border-radius: 6px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    display: inline-block;
    width: 100px;
    text-align: right;
}